/** @format */

header {
  height: 8vh;
  max-height: 10vh;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-content: center;
  flex-direction: row;
}

/* header */

.header_row {
  padding: 5px;
  height: 90%;
}

/* first col */
.header_row.first_col {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10%;
}

#logo {
  height: 50px;
  width: 50px;
}

/* second col */
.header_row.second_col {
  margin: 0 8px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
}

#searchbar {
  padding: 5px;
  height: 25px;
  border: none;
  background: lightgray;
  border-radius: 4px;
  width: 70%;
}

.header_row.third_col {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border: 1px solid blue;
}

#profile {
  height: 30px;
  width: 30px;
}
