/** @format */

header {
  height: 8vh;
  max-height: 10vh;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-content: center;
  flex-direction: row;
}

.header_row {
  padding: 5px;
  height: 90%;
}

.header_row.first_row {
  margin: 0 8px;
  border: 1px solid red;
  width: 10%;
}

.header_row.second_row {
  margin: 0 8px;
  border: 1px solid green;
  width: 50%;
}

.header_row.third_row {
  margin: 0 8px;
  border: 1px solid blue;
}

#logo {
  height: 50px;
  width: 50px;
}
