@media screen and (max-width: 768px) {
    .detail_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 550px;
        min-height: 50vh;
        margin: 55px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_head {
        height: 60px;
        width: 500px;
        border-bottom: 2px solid #333;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .head_col {
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
    }
    .head_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_title {
        font-size: 20px;
        font-weight: 600;
    }
    .delete_button {
        border: none;
        color: #e74c3c;
        font-size: 20px;
        background-color: white;
        cursor: pointer;
    }
    .image_box {
        width: 500px;
        min-height: 30vh;
        max-height: 40vh;
        display: flex;
        margin-bottom: 15px;
    }
    .like_row {
        padding: 5px;
    }
    #feedimg {
        width: 100%;
        object-fit: cover;
    }
    .comment_box {
        width: 500px;
        min-height: 5vh;
        padding-bottom: 25px;
        padding-top: 15px;
        border-bottom: 2px solid #333;
        border-top: 2px solid #333;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .comment_row {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    .comment_id {
        font-weight: 500;
    }
    .comment_button {
        cursor: pointer;
        background-color: white;
        color: #e74c3c;
        font-size: 10px;
        margin-left: 8px;
        border: none;
    }
    .comment_date_col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .comment_date {
        color: #7f8c8d;
        font-size: 10px;
    }
    .comment_inputbox {
        width: 500px;
        margin-top: 15px;
    }
    .comment_input {
        width: 80%;
        padding: 8px;
    }
    .comment_inputbox .comment_submit {
        padding: 8px 12px;
        width: 80px;
    }
}

@media screen and (min-width: 769px) {
    .detail_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 680px;
        min-height: 40vh;
        margin: 55px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_head {
        height: 60px;
        width: 600px;
        border-bottom: 2px solid #333;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        align-items: center;
    }
    .head_col {
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
    }
    .head_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_title {
        font-size: 20px;
        font-weight: 600;
    }
    .delete_button {
        border: none;
        color: #e74c3c;
        font-size: 20px;
        background-color: white;
    }
    .image_box {
        width: 500px;
        min-height: 30vh;
        max-height: 40vh;
        display: flex;
        margin-bottom: 15px;
    }
    .like_row {
        padding: 5px;
    }
    #feedimg {
        width: 100%;
        object-fit: cover;
    }
    .comment_box {
        width: 500px;
        min-height: 5vh;
        padding-bottom: 10px;
        padding-top: 15px;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .comment_row {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    .comment_id {
        font-weight: 500;
    }
    .comment_date_col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .comment_button {
        cursor: pointer;
        background-color: white;
        color: #e74c3c;
        font-size: 10px;
        margin-left: 8px;
        border: none;
    }
    .comment_date {
        color: #7f8c8d;
        font-size: 10px;
    }
    .comment_inputbox {
        width: 500px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .comment_input {
        width: 80%;
        padding: 8px;
    }
    .comment_inputbox .comment_submit {
        padding: 8px 12px;
        width: 80px;
    }
}