@media screen and (max-width: 768px) {
    .detail_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 550px;
        min-height: 50vh;
        margin: 55px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_head {
        height: 60px;
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        align-items: center;
    }
    .head_col {
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
    }
    .image_box {
        width: 500px;
        min-height: 30vh;
        max-height: 40vh;
        border: 1px solid black;
        display: flex;
        margin-bottom: 15px;
    }
    #feedimg {
        width: 100%;
        object-fit: cover;
    }
    .comment_box {
        width: 500px;
        min-height: 5vh;
        padding-bottom: 25px;
        border-bottom: 1px solid red;
    }
    .comment_inputbox {
        width: 500px;
        border: 1px solid green;
        margin-top: 15px;
    }
    .comment_input {
        width: 80%;
        padding: 8px;
    }
    .comment_inputbox .comment_submit {
        padding: 8px 12px;
        width: 80px;
    }
}

@media screen and (min-width: 769px) {
    .detail_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 680px;
        min-height: 40vh;
        margin: 55px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_head {
        height: 60px;
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        align-items: center;
    }
    .head_col {
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
    }
    .image_box {
        width: 500px;
        min-height: 30vh;
        max-height: 40vh;
        border: 1px solid black;
        display: flex;
        margin-bottom: 15px;
    }
    #feedimg {
        width: 100%;
        object-fit: cover;
    }
    .comment_box {
        width: 500px;
        min-height: 5vh;
        padding-bottom: 25px;
        border-bottom: 1px solid red;
    }
    .comment_inputbox {
        width: 500px;
        border: 1px solid green;
        margin-top: 15px;
    }
    .comment_input {
        width: 80%;
        padding: 8px;
    }
    .comment_inputbox .comment_submit {
        padding: 8px 12px;
        width: 80px;
    }
}