/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");
.wrapper {
    font-family: "Nanum Gothic Coding", monospace;
}

body {
    background-color: #ecf0f1;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
        min-width: 650px;
        margin: 0 auto;
        margin-top: 15px;
        min-height: 70vh;
        padding: 15px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
    }
    .main_sec {
        max-width: 400px;
        padding: 8px;
        margin-right: 15px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        background: #fff;
        position: relative;
    }
    .camera_view {
        display: flex;
        flex-direction: column;
    }
    #monitor {
        width: 90%;
        background-color: #666;
        margin: 0 auto;
    }
    .button_sec {
        padding: 8px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .button_sec button {
        border: none;
        min-width: 80px;
        padding: 8px 12px;
        background-color: gray;
        color: white;
        border-radius: 4px;
    }
    .button_sec button:hover {
        transition: 0.2s linear;
        color: black;
        background-color: lightgray;
    }
    .camera_button {
        border: 1px solid blue;
    }
    .sticker_sec {
        border-top: 3px solid #333;
        margin-top: 15px;
        padding: 15px;
    }
    .sticker_list {
        margin-top: 20px;
        height: 120px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: 3px solid #333;
        overflow: scroll;
    }
    .sticker_list::-webkit-scrollbar {
        width: 5px;
    }
    .sticker_list::-webkit-scrollbar-thumb {
        background-color: #7f8c8d;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    .sticker_list::-webkit-scrollbar-track {
        background-color: #ecf0f1;
    }
    .li_img {
        padding: 10px;
        margin: 10px;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    }
    .li_img:hover {
        background-color: #bdc3c7;
        transition: 0.2s linear;
        border-radius: 5px;
    }
    #sticker_img {
        width: 80px;
        height: 80px;
    }
    .side_sec {
        min-width: 185px;
        max-height: 80vh;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        background: #fff;
        position: relative;
        overflow: scroll;
    }
    .side_sec::-webkit-scrollbar {
        width: 5px;
    }
    .side_sec::-webkit-scrollbar-thumb {
        background-color: #7f8c8d;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    .side_sec::-webkit-scrollbar-track {
        background-color: #ecf0f1;
    }
    .side_sec section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #photo {
        width: 160px;
        height: 115px;
        margin-bottom: 15px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    }
    .side canvas {
        border-radius: 5px;
    }
    .side canvas:hover {
        transition: 0.2s;
        opacity: 0.5;
    }
}

@media screen and (min-width: 769px) {
    .wrapper {
        width: 80%;
        min-width: 900px;
        margin: 0 auto;
        margin-top: 20px;
        min-height: 70vh;
        padding: 15px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
    }
    .main_sec {
        padding: 8px;
        margin-right: 15px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        background: #fff;
        position: relative;
    }
    .camera_view {
        display: flex;
    }
    #monitor {
        width: 80%;
        background-color: #666;
        margin-right: 15px;
    }
    .button_sec {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .button_sec button {
        border: none;
        padding: 8px 12px;
        background-color: gray;
        color: white;
        border-radius: 4px;
    }
    .button_sec button:hover {
        transition: 0.2s linear;
        color: black;
        background-color: lightgray;
    }
    .camera_button {
        border: 1px solid blue;
    }
    .sticker_sec {
        border-top: 3px solid #333;
        margin-top: 15px;
        padding: 15px;
    }
    .sticker_list {
        margin-top: 20px;
        height: 120px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: 3px solid #333;
        overflow: scroll;
    }
    .sticker_list::-webkit-scrollbar {
        width: 5px;
    }
    .sticker_list::-webkit-scrollbar-thumb {
        background-color: #7f8c8d;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    .sticker_list::-webkit-scrollbar-track {
        background-color: #ecf0f1;
    }
    .li_img {
        padding: 10px;
        margin: 10px;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    }
    .li_img:hover {
        background-color: #bdc3c7;
        transition: 0.2s linear;
        border-radius: 5px;
    }
    #sticker_img {
        width: 80px;
        height: 80px;
    }
    .side_sec {
        padding: 8px;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        background: #fff;
        position: relative;
        overflow: scroll;
    }
    .side_sec::-webkit-scrollbar {
        width: 10px;
    }
    .side_sec::-webkit-scrollbar-thumb {
        background-color: #7f8c8d;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    .side_sec::-webkit-scrollbar-track {
        background-color: #ecf0f1;
    }
    .side_sec section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side_sec canvas {
        width: 177px;
        height: 132px;
        margin: 5px 0;
    }
    .sticker_sec {
        border-top: 3px solid #333;
        margin-top: 15px;
        padding: 15px;
    }
    #photo {
        margin-bottom: 15px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    }
    .side canvas {
        border-radius: 5px;
    }
    .side canvas:hover {
        transition: 0.2s;
        opacity: 0.5;
    }
}