/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");
body {
    font-family: "Nanum Gothic Coding", monospace;
}

@media screen and (max-width: 768px) {
    .profile_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 680px;
        min-height: 40vh;
        margin: 55px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
    }
    .profile_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .profile_input {
        width: 200px;
        padding: 12px;
        margin-bottom: 15px;
        font-size: 14px;
        border: none;
        background-color: #e6e6e6;
        border-radius: 4px;
    }
    .profile_button {
        border: none;
        background-color: #9b59b6;
        border-radius: 4px;
        padding: 12px;
        color: white;
    }
    .profile_button:hover {
        background-color: #e74c3c;
        transition: 0.2s linear;
        color: white;
    }
}

@media screen and (min-width: 769px) {
    .profile_container {
        padding: 8px;
        border: 3px solid #333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        background-color: #ffffff;
        max-width: 680px;
        min-height: 40vh;
        margin: 55px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
    }
    .profile_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .profile_input {
        width: 200px;
        padding: 12px;
        margin-bottom: 15px;
        font-size: 14px;
        border: none;
        background-color: #e6e6e6;
        border-radius: 4px;
    }
    .profile_button {
        border: none;
        background-color: #9b59b6;
        border-radius: 4px;
        padding: 12px;
        color: white;
    }
    .profile_button:hover {
        background-color: #e74c3c;
        transition: 0.2s linear;
        color: white;
    }
}