/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

body {
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #ecf0f1;
}

.wrapper {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  min-width: 650px;
  margin: 0 auto;
  margin-top: 15px;
  min-height: 70vh;
  padding: 15px;
  border: 3px solid #333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background-color: #ffffff;
}

.form_view {
  max-height: 382px;
}

#up_image {
  display: none;
}

#preview {
  width: 250px;
  height: 250px;
  border: 3px solid #333;
  font-size: 1.3rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #fff;
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

#preview span {
  position: absolute;
  top: 45px;
}

#preview img {
  width: 380px;
  height: 240px;
  object-fit: cover;
}

#submit_btn {
  font-family: baron;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
  font-size: 2rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #fff;
  /* position: relative; */
  margin: 20px auto;
  width: 400px;
  margin-top: 20px;
  cursor: pointer;
}
#submit_btn:hover {
  transition: 0.2s linear;
  background-color: #bdc3c7;
}
#submit_btn::before {
  border: 2px solid #353535;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.side {
  min-width: 250px;
  height: 346px;
  margin-left: 25px;
  margin-top: 30px;
  padding: 15px;
  border: 3px solid #333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stick_title {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.sticker_list {
  display: flex;
  align-items: center;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  overflow: scroll;
}

.sticker_list::-webkit-scrollbar {
  width: 5px;
}
.sticker_list::-webkit-scrollbar-thumb {
  background-color: #7f8c8d;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.sticker_list::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}
.li_img {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.li_img:hover {
  background-color: #bdc3c7;
  transition: 0.2s linear;
  border-radius: 5px;
}

.sticker_btn {
  font-family: baron;
  padding: 12px;
  font-size: 1rem;
  border: 3px solid #333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background-color: #ffffff;
}

.sticker_btn:hover {
  transition: 0.2s linear;
  background-color: #bdc3c7;
}
