/** @format */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  border: 1px solid gray;
  width: 600px;
  height: 600px;
  border-radius: 4px;
  margin: 15px 0;
}

.feed_head {
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.feed_headbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#avatar {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 30px 30px;
}

.feed_login {
  padding: 0 8px;
  font-size: 20px;
  font-weight: 600;
}

.feed_body {
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_back {
  background-color: lightgray;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  height: 430px;
  width: 600px;
}

#feed_img {
  max-width: 600px;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

.feed_footer {
  height: 20%;
  border-top: 1.5px solid black;
}

.feed_text {
  font-size: 16px;
  height: 40%;
  padding: 10px 15px;
  border-bottom: 1px dotted gray;
}

.feed_repl {
  padding: 8px 15px;
}
