/** @format */

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    margin: 15px 40px;
    background-color: antiquewhite;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 0px gray;
  }

  .table_title {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
  }

  .profile_table {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #title {
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 18px;
    width: 120px;
  }

  #content {
    font-size: 18px;
    padding: 8px 15px;
    border: 1px solid black;
    width: 300px;
  }

  .modif_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  #modif_btn {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
  }
  #modif_btn:hover {
    background-color: gray;
    color: white;
    transition: 0.4s linear;
  }
}

@media screen and (min-width: 769px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    margin: 15px 40px;
    background-color: antiquewhite;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 0px gray;
  }

  .table_title {
    font-size: 34px;
    font-weight: 600;
    padding: 10px 0;
  }

  .profile_table {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #title {
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 24px;
    width: 200px;
  }

  #content {
    font-size: 24px;
    padding: 8px 15px;
    border: 1px solid black;
    width: 450px;
  }

  .modif_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  #modif_btn {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
  }
  #modif_btn:hover {
    background-color: gray;
    color: white;
    transition: 0.4s linear;
  }
}
