<!-- @format -->

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/feed.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Camagru</title>
  </head>

  <body>
    <div class="container">
      <div class="avatar">
        avatar
      </div>
      <table class="user_card">
        <tr>
          <td id="name">Username</td>
        </tr>
        <tr>
          <td>Name</td><td>full name</td>
        </tr>
        <tr>
          <td>email</td><td>email address</td>
        </tr>
      </table>
    </div>
  </body>
</html>
